<div class="row">
  <div class="col-md-6">
    <label>Server Name</label>
    <input type="text" class="form-control"
           [(ngModel)]="serverName">
    <button class="btn btn-primary"
            [disabled]="!allowNewServer"
            (click)="onCreateServer()">Add Server
    </button>
    <p *ngIf="!serverCreated">{{serverCreationStatus}}</p>
    <br>
    <app-server *ngFor="let server of servers"></app-server>
  </div>
  <div class="col-md-6">
    <div class="row">
      <button class="btn btn-success" (click)="logCount()">
        Add new log
      </button>
    </div>
    <div class="row">
      <p *ngFor="let log of logs; let i = index"
         [ngStyle]="{backgroundColor: i >=4 ? 'green':'transparent'}"
         [ngClass]="{'white-text':i >= 4}">
        {{log}}
      </p>
    </div>
  </div>
</div>
